In [15]:
import pandas as pd

In [17]:
data= "C:\\Users\\Spring\\Desktop\\The Incredible Quad\\zillow-housing-price\\home_price.csv"

In [18]:
home_price= pd.read_csv(data)

  State  Annual average
0    IL      1042066.67
1    TX       333816.67
2    IL      1319725.00
3    TX       123525.00
4    TX       177316.67

In [30]:
gp_state=home_price.groupby('State').median()

gp_state.columns=["Annual Median"]
gp_state.head()

       Annual Median
State
AK         310387.50
AL         133891.67
AR         127237.50
AZ         240816.67
CA         560075.00

In [31]:
median_homepricedf = pd.DataFrame(gp_state)
median_homepricedf.to_csv("C:\\Users\\Spring\\Desktop\\The Incredible Quad\\zillow-housing-price\\median_homeprice.csv", index=True, header=True)

In [33]:
totaltaxdf = "C:\\Users\\Spring\\Desktop\\The Incredible Quad\\zillow-housing-price\\Total taxes by State.CSV"
totaltax_bystate = pd.read_csv(totaltaxdf)
totaltax_bystate.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  State    Total Tax
0    AL   11,055,577
1    AK    1,641,733
2    AZ   16,293,917
3    AR    9,843,173
4    CA  175,016,884

In [34]:
tax_homeprice = pd.merge(totaltax_bystate,median_homepricedf, on = 'State')
tax_homeprice.head()

  State    Total Tax  Annual Median
0    AL   11,055,577      133891.67
1    AK    1,641,733      310387.50
2    AZ   16,293,917      240816.67
3    AR    9,843,173      127237.50
4    CA  175,016,884      560075.00

In [35]:
totaltax_medianhomeprice=pd.DataFrame(tax_homeprice)

In [36]:
totaltax_medianhomeprice.to_csv("C:\\Users\\Spring\\Desktop\\The Incredible Quad\\zillow-housing-price\\TotalTax_MedianHomePrice.csv", index=True, header=True)